@import "~styles/variables/colors";
@import "~styles/variables/sizing";

.dropdown {
  .dropdown-toggle {
    background-color: $color-primary-lighter;
    color: $color-background;
    padding: 6px 12px;
    border: 1px solid transparent;
    border-radius: $size-xs;
    margin-bottom: 0;
    min-width: 100px;
    font-weight: $font-weight-semi-bold;
  }

  .dropdown-toggle-icon {
    padding-left: $size-sm;
  }

  .dropdown-menu {
    position: absolute;
    list-style: none;
    width: 150px;
    background-color: $color-primary-lighter;
    padding: $size-sm;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: $size-xs;
    background-color: $color-primary-lighter;
    margin-top: 0;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    z-index: 9;
    display: none;

    &.open {
      display: block;
    }

    li {
      :hover {
        background-color: $color-primary;
        font-weight: $font-weight-semi-bold;
      }

      a { 
        display: block;
        width: 100%;
        line-height: 1.4;
        text-decoration: none;
        color: $color-background;
        padding: $size-xs;
      }
    }
  }
}
