@import "~styles/variables/colors";
@import "~styles/variables/sizing";

.page-header {
  color: $color-primary;
}

.header {
  width: 100%;
  margin-bottom: $size-lg;

  .header-img {
    width: 100%
  }
}
