$size-base: 10px;
$size-xs: $size-base / 3;
$size-sm: $size-base / 2;
$size-lg: $size-base * 2;
$size-xl: $size-base * 3;
$size-xxl: $size-base * 4;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
